

            body{
                background-image: url("chucky.jpeg") ;
                font-family: Arial, Helvetica, sans-serif ;
                text-align: center;
                padding: 0;
                margin: 0;
            }
            button{
                background-color: rgb(186, 221, 203);
                border-radius: 105px;

            }
            button:hover{
                background-color: aquamarine;
                border-radius: 105px;
                font-weight: 900;
                transition: background-color ease-in-out .5s;
            }
            footer {
                background-color: white;
                position: absolute;
                bottom: 0;
                width: 100%!important;
                padding: 0;
                margin: 0;
            }